includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./phpstan-baseline.neon
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/app
        - %currentWorkingDirectory%/bootstrap
        - %currentWorkingDirectory%/config
        - %currentWorkingDirectory%/database
        - %currentWorkingDirectory%/modules
        - %currentWorkingDirectory%/resources
        - %currentWorkingDirectory%/routes
    excludePaths:
        - %currentWorkingDirectory%/tests/
        - %currentWorkingDirectory%/p-chatplus/
        - %currentWorkingDirectory%/vendor/
        - %currentWorkingDirectory%/routes/channels.php
        - %currentWorkingDirectory%/routes/console.php
        - %currentWorkingDirectory%/app/Library/Core/HTTP.php
        - %currentWorkingDirectory%/app/Models/User.php
        - %currentWorkingDirectory%/app/GraphQL/Middleware/ResolvePage.php
        - %currentWorkingDirectory%/app/Exceptions
        - %currentWorkingDirectory%/modules/Module/Tests/Feature/DatabaseModuleManagementTest.php
        - %currentWorkingDirectory%/app/Http/
        - %currentWorkingDirectory%/app/helpers.php
        - %currentWorkingDirectory%/app/Mail/TestMail.php
        - %currentWorkingDirectory%/app/Console/Commands/LanguageFileToDatabaseCommand.php
        - %currentWorkingDirectory%/app/Console/Commands/ProviderMakeCommand.php
        - %currentWorkingDirectory%/app/Library/Api/Serializer/AbstractSerializer.php
        - %currentWorkingDirectory%/app/Library/Phpfox/PhpfoxStore.php
        - %currentWorkingDirectory%/app/Library/Locale/Translator.php
        - %currentWorkingDirectory%/app/Library/Api/Serializer/ApiResponseSerialize.php
        - %currentWorkingDirectory%/app/Library/Locale/TranslationLoader.php
    ignoreErrors:
        - '#Static call to instance method Illuminate\\Database\\Query\\Builder::[a-zA-Z]+\(\)\.#'
        - '#Static call to instance method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>::[a-zA-Z]+\(\)\.#'
        - '#Method [a-zA-Z\\]+\\Providers\\[a-zA-Z]+ServiceProvider::boot\(\) has no return typehint specified\.#'
        - '#Method [a-zA-Z\\]+\\Providers\\[a-zA-Z]+ServiceProvider::definePolicies\(\) has no return typehint specified\.#'
        - '#Method [a-zA-Z\\]+\\Providers\\[a-zA-Z]+ServiceProvider::provides\(\) return type has no value type specified in iterable type array\.#'
        - '#Method [a-zA-Z\\]+\\Providers\\[a-zA-Z]+ServiceProvider::getPublishableViewPaths\(\) return type has no value type specified in iterable type array\.#'
        - '#Method [a-zA-Z\\]+\\Providers\\GraphQLServiceProvider::registerTypes\(\) has no return typehint specified\.#'
        - '#Method [a-zA-Z\\]+\\Providers\\GraphQLServiceProvider::query\(\) has no return typehint specified\.#'
        - '#Method [a-zA-Z\\]+\\Providers\\GraphQLServiceProvider::mutation\(\) has no return typehint specified\.#'
        - '#Call to an undefined method [a-zA-Z\\]+\\Repositories\\Contracts\\[a-zA-Z\\]+RepositoryInterface::create\(\)\.#'
        - '#Call to an undefined method [a-zA-Z\\]+\\Repositories\\Contracts\\[a-zA-Z\\]+RepositoryInterface::skipPresenter\(\)\.#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$entity_id\.#'
        - '#Access to an undefined property Illuminate\\Foundation\\Application::\$config\.#'
        - '#Cannot access property \$user_id on Modules\\User\\Models\\User\|null\.#'
        - '#Call to an undefined method Modules\\[a-zA-Z\\]+\\Repositories\\Contracts\\[a-zA-Z\\]+RepositoryInterface::where\(\)\.#'
        - '#Call to an undefined method Modules\\[a-zA-Z\\]+\\Repositories\\Contracts\\[a-zA-Z\\]+RepositoryInterface::with\(\)\.#'
        - '#Call to an undefined method Modules\\[a-zA-Z\\]+\\Repositories\\Contracts\\[a-zA-Z\\]+RepositoryInterface::findOrFail\(\)\.#'
        - '#Call to an undefined method Modules\\[a-zA-Z\\]+\\Repositories\\Contracts\\[a-zA-Z\\]+RepositoryInterface::delete\(\)\.#'
        - '#Call to an undefined method Modules\\[a-zA-Z\\]+\\Repositories\\Contracts\\[a-zA-Z\\]+RepositoryInterface::find\(\)\.#'
        - '#Parameter \#1 \$message of function graphql_error expects string, array\|string\|null given\.#'
        - '#Parameter \#1 \$message of function graphql_error expects string, string\|null given\.#'
        - '#Call to an undefined method Illuminate\\Filesystem\\FilesystemAdapter::extractTo\(\)\.#'
        - '#Method Modules\\[a-zA-Z\\]+\\Repositories\\[a-zA-Z\\]+Repository::[a-zA-Z\\]+Repository\(\) has no return typehint specified\.#'
        - '#Method Modules\\[a-zA-Z\\]+\\Support\\[a-zA-Z\\]+Privacy::repository\(\) has no return typehint specified\.#'
        - '#Call to an undefined method Modules\\Module\\Repositories\\Contracts\\ModuleRepositoryInterface::has\(\)\.#'
        - '#Call to an undefined method Modules\\Module\\Repositories\\Contracts\\ModuleRepositoryInterface::getPath\(\)\.#'
        - '#Call to an undefined method Modules\\Module\\Repositories\\Contracts\\ModuleRepositoryInterface::migrateFileToDatabase\(\)\.#'
    reportUnmatchedIgnoredErrors: false
